python-srm/soapSRMServerV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="soapSRMServerV1"
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 targetNamespace="http://srm.1.0.ns"
 xmlns:tns="http://srm.1.0.ns"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns11="http://www.themindelectric.com/package/diskCacheV111.srm/"
 xmlns:tns="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1">

<types>
 <schema targetNamespace="http://www.themindelectric.com/package/diskCacheV111.srm/"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns11="http://www.themindelectric.com/package/diskCacheV111.srm/"
  xmlns:tns="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <complexType name="RequestStatus">
   <sequence>
    <element name="requestId" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="state" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="submitTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="startTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="finishTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="estTimeToStart" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="fileStatuses" type="tns:ArrayOfRequestFileStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="errorMessage" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="retryDeltaTime" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="FileMetaData">
   <sequence>
    <element name="SURL" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    <element name="owner" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="group" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="permMode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="checksumType" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="checksumValue" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="isPinned" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="isPermanent" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="isCached" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="RequestFileStatus">
   <sequence>
    <element name="SURL" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="size" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    <element name="owner" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="group" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="permMode" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="checksumType" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="checksumValue" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="isPinned" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="isPermanent" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="isCached" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    <element name="state" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="fileId" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="TURL" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="estSecondsToStart" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    <element name="sourceFilename" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="destFilename" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="queueOrder" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

 </schema>
 <schema targetNamespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns11="http://www.themindelectric.com/package/diskCacheV111.srm/"
  xmlns:tns="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <simpleType name="Boolean">
   <restriction base="tns:Enum1">
   </restriction>
  </simpleType>

  <simpleType name="Long">
   <restriction base="xsd:long">
   </restriction>
  </simpleType>

  <simpleType name="Integer">
   <restriction base="xsd:int">
   </restriction>
  </simpleType>

  <simpleType name="Enum1">
   <restriction base="xsd:string">
    <enumeration value="false"/>
    <enumeration value="true"/>
   </restriction>
  </simpleType>

  <complexType name="getResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="advisoryDeleteResponse">
   <sequence>
   </sequence>
  </complexType>

  <complexType name="ArrayOfFileMetaData">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns11:FileMetaData" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns11:FileMetaData[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfstring">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:string[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOflong">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:long[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="putResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfRequestFileStatus">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns11:RequestFileStatus" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns11:RequestFileStatus[]"/>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="mkPermanentResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="copyResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getEstGetTimeResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getEstPutTimeResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pinResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="pingResponse">
   <sequence>
    <element name="Result" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>

  <complexType name="getFileMetaDataResponse">
   <sequence>
    <element name="Result" type="tns:ArrayOfFileMetaData" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getRequestStatusResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="getProtocolsResponse">
   <sequence>
    <element name="Result" type="tns:ArrayOfstring" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="setFileStatusResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="unPinResponse">
   <sequence>
    <element name="Result" type="ns11:RequestStatus" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfboolean">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:boolean[]"/>
    </restriction>
   </complexContent>
  </complexType>

 </schema>
</types>

<message name="pingRequest">
</message>

<message name="pingResponse">
 <part name="Result" type="xsd:boolean"/>
</message>

<message name="getEstPutTimeRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="tns:ArrayOfstring"/>
 <part name="arg2" type="tns:ArrayOflong"/>
 <part name="arg3" type="tns:ArrayOfboolean"/>
 <part name="arg4" type="tns:ArrayOfstring"/>
</message>

<message name="getEstPutTimeResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="putRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="tns:ArrayOfstring"/>
 <part name="arg2" type="tns:ArrayOflong"/>
 <part name="arg3" type="tns:ArrayOfboolean"/>
 <part name="arg4" type="tns:ArrayOfstring"/>
</message>

<message name="putResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="getRequestStatusRequest">
 <part name="arg0" type="xsd:int"/>
</message>

<message name="getRequestStatusResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="copyRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="tns:ArrayOfstring"/>
 <part name="arg2" type="tns:ArrayOfboolean"/>
</message>

<message name="copyResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="getProtocolsRequest">
</message>

<message name="getProtocolsResponse">
 <part name="Result" type="tns:ArrayOfstring"/>
</message>

<message name="getEstGetTimeRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="tns:ArrayOfstring"/>
</message>

<message name="getEstGetTimeResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="advisoryDeleteRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
</message>

<message name="advisoryDeleteResponse">
</message>

<message name="pinRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
</message>

<message name="pinResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="unPinRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="xsd:int"/>
</message>

<message name="unPinResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="setFileStatusRequest">
 <part name="arg0" type="xsd:int"/>
 <part name="arg1" type="xsd:int"/>
 <part name="arg2" type="xsd:string"/>
</message>

<message name="setFileStatusResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="mkPermanentRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
</message>

<message name="mkPermanentResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="getRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
 <part name="arg1" type="tns:ArrayOfstring"/>
</message>

<message name="getResponse">
 <part name="Result" type="ns11:RequestStatus"/>
</message>

<message name="getFileMetaDataRequest">
 <part name="arg0" type="tns:ArrayOfstring"/>
</message>

<message name="getFileMetaDataResponse">
 <part name="Result" type="tns:ArrayOfFileMetaData"/>
</message>

<portType name="soapSRMServerV1PortType">
 <operation name="ping">
  <documentation>Service definition of function tns__ping</documentation>
  <input message="tns:pingRequest"/>
  <output message="tns:pingResponse"/>
 </operation>
 <operation name="getEstPutTime">
  <documentation>Service definition of function tns__getEstPutTime</documentation>
  <input message="tns:getEstPutTimeRequest"/>
  <output message="tns:getEstPutTimeResponse"/>
 </operation>
 <operation name="put">
  <documentation>Service definition of function tns__put</documentation>
  <input message="tns:putRequest"/>
  <output message="tns:putResponse"/>
 </operation>
 <operation name="getRequestStatus">
  <documentation>Service definition of function tns__getRequestStatus</documentation>
  <input message="tns:getRequestStatusRequest"/>
  <output message="tns:getRequestStatusResponse"/>
 </operation>
 <operation name="copy">
  <documentation>Service definition of function tns__copy</documentation>
  <input message="tns:copyRequest"/>
  <output message="tns:copyResponse"/>
 </operation>
 <operation name="getProtocols">
  <documentation>Service definition of function tns__getProtocols</documentation>
  <input message="tns:getProtocolsRequest"/>
  <output message="tns:getProtocolsResponse"/>
 </operation>
 <operation name="getEstGetTime">
  <documentation>Service definition of function tns__getEstGetTime</documentation>
  <input message="tns:getEstGetTimeRequest"/>
  <output message="tns:getEstGetTimeResponse"/>
 </operation>
 <operation name="advisoryDelete">
  <documentation>Service definition of function tns__advisoryDelete</documentation>
  <input message="tns:advisoryDeleteRequest"/>
  <output message="tns:advisoryDeleteResponse"/>
 </operation>
 <operation name="pin">
  <documentation>Service definition of function tns__pin</documentation>
  <input message="tns:pinRequest"/>
  <output message="tns:pinResponse"/>
 </operation>
 <operation name="unPin">
  <documentation>Service definition of function tns__unPin</documentation>
  <input message="tns:unPinRequest"/>
  <output message="tns:unPinResponse"/>
 </operation>
 <operation name="setFileStatus">
  <documentation>Service definition of function tns__setFileStatus</documentation>
  <input message="tns:setFileStatusRequest"/>
  <output message="tns:setFileStatusResponse"/>
 </operation>
 <operation name="mkPermanent">
  <documentation>Service definition of function tns__mkPermanent</documentation>
  <input message="tns:mkPermanentRequest"/>
  <output message="tns:mkPermanentResponse"/>
 </operation>
 <operation name="get">
  <documentation>Service definition of function tns__get</documentation>
  <input message="tns:getRequest"/>
  <output message="tns:getResponse"/>
 </operation>
 <operation name="getFileMetaData">
  <documentation>Service definition of function tns__getFileMetaData</documentation>
  <input message="tns:getFileMetaDataRequest"/>
  <output message="tns:getFileMetaDataResponse"/>
 </operation>
</portType>

<binding name="soapSRMServerV1Binding" type="tns:soapSRMServerV1PortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="ping">
  <SOAP:operation soapAction="ping"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getEstPutTime">
  <SOAP:operation soapAction="getEstPutTime"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="put">
  <SOAP:operation soapAction="put"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getRequestStatus">
  <SOAP:operation soapAction="getRequestStatus"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="copy">
  <SOAP:operation soapAction="copy"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getProtocols">
  <SOAP:operation soapAction="getProtocols"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getEstGetTime">
  <SOAP:operation soapAction="getEstGetTime"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="advisoryDelete">
  <SOAP:operation soapAction="advisoryDelete"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="pin">
  <SOAP:operation soapAction="pin"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="unPin">
  <SOAP:operation soapAction="unPin"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="setFileStatus">
  <SOAP:operation soapAction="setFileStatus"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="mkPermanent">
  <SOAP:operation soapAction="mkPermanent"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="get">
  <SOAP:operation soapAction="get"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="getFileMetaData">
  <SOAP:operation soapAction="getFileMetaData"/>
  <input>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
   <SOAP:body use="encoded" namespace="http://tempuri.org/diskCacheV111.srm.server.SRMServerV1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="soapSRMServerV1">
 <documentation>gSOAP 2.3.8 generated service definition</documentation>
 <port name="soapSRMServerV1" binding="tns:soapSRMServerV1Binding">
  <SOAP:address location="http://wacdr002d.cern.ch:8082/srm/managerv1"/>
 </port>
</service>

</definitions>
